.std-input-wrap {
  gap: 0.5rem;
}

.std-input {
  background-color: transparent;
  border: 1px solid var(--base-04);
  border-radius: 0.625rem;
  font-family: inherit;
  font-size: inherit;
  padding: 0.5rem 0.75rem;
}
