@import "../../styles/global.css";

.login-mbl {
  background-color: var(--base-05);
  height: 100vh;
  justify-content: end;
}

.login-vectors {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.login-form {
  height: 100%;
  flex: 1;
}

.login-input-wrap {
  flex: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.login-button-wrap {
  gap: 0.5rem;
}

.centralized {
  width: 100%;
  justify-content: center;
  text-align: center;
  gap: 0.5rem;
}

.reset-link {
  text-align: end;
  margin-top: -0.625rem;
}

.login-v01 {
  transform: rotate(30deg);
  margin: 0 0 2px -11px;
}

.login-v02 {
  margin: 0 -10px -10px 0;
}

.login-v03 {
  transform: rotate(-20deg);
  margin: 0 0 -5px -11px;
}
