@import "../../styles/global.css";

.login-vectors {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.login-form {
  height: 100%;
  flex: 1;
}

.login-input-wrap {
  flex: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.login-button-wrap {
  gap: 0.5rem;
}

.reset-link {
  text-align: end;
  margin-top: -0.625rem;
}

.login-v01 {
  transform: rotate(30deg);
  margin: 0 0 3px -11px;
}

.login-v02 {
  transform: scale(0.8);
  margin: 0 -12px -15px 0;
  transform-origin: center;
}

.login-v03 {
  transform: scale(0.8) rotate(-20deg);
  margin: 0 -10px -15px -28px;
  transform-origin: center;
}

/* layout desktop */

.login-left {
  background-color: var(--base-05);
  height: 100vh;
  justify-content: space-between;
}

.login-dsk .login-form {
  width: 100%;
}

.login-dsk .login-input-wrap {
  gap: 2rem;
}

.login-dsk .login-button-wrap h6 {
  margin-top: 1rem;
  text-align: left;
}

.decoration-text {
  color: var(--base-01);
  font-weight: 100;
  font-size: 2rem;
  letter-spacing: 0.4px;
  margin: 14vh;
}

.decoration-text span {
  color: var(--l-pink);
  font-weight: 700;
}

.login-dsk .login-v01 {
  transform: scale(3.4) rotate(-30deg);
  margin: 0 72px 68px 0;
  transform-origin: center;
}

.login-dsk .login-v02 {
  transform: scale(3);
  margin: 0 0 67px 88px;
  transform-origin: center;
}

.login-dsk .login-v03 {
  transform: scale(2) rotate(34deg);
  margin: 0 0 50px 93px;
  transform-origin: center;
}
.login-v04 {
  transform: rotate(30deg);
  margin: 0 0 200px 0;
}
