.flex-col {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input-wrap {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.psw-input {
  width: 100%;
  background-color: transparent;
  border: 1px solid var(--base-04);
  border-radius: 0.625rem;
  font-family: inherit;
  font-size: inherit;
  padding: 0.5rem 0.75rem;
  box-sizing: border-box;
}

.icon-wrap {
  position: absolute;
  right: 0.75rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
