.error-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.error-page h1 {
  font-weight: 600;
}

.error-page button {
  margin-top: 3rem;
  padding: 0.75rem 2rem;
}

.error-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-v01 {
  transform: rotate(110deg);
  margin: 8% 0 0 8%;
}

.error-v02 {
  visibility: hidden;
}

.error-v03 {
  visibility: hidden;
}

.error-v04 {
  transform: scale(3) rotate(40deg);
  margin: 0 0 6% 30%;
}

.error-v05 {
  transform: rotate(-20deg);
  margin: 1% 0 12% 12%;
}

.error-v06 {
  transform: rotate(1deg);
  margin: 0 0 6% -12%;
}

.error-v07 {
  transform: scale(1.6);
  margin: 0 0 8% 10%;
}

/* mobile */

@media (max-width: 768px) {
  .error-v01 {
    transform: scale(0.8) rotate(110deg);
  }

  .error-v02 {
    visibility: visible;
    transform: scale(0.5) rotate(-50deg);
    margin: 0 0 55% 0%;
  }

  .error-v03 {
    visibility: visible;
    transform: scale(0.6) rotate(-40deg);
    margin: 0 0 70% -16%;
  }

  .error-v04 {
    transform: scale(2) rotate(40deg);
    margin: 0 0 20% 0;
  }

  .error-v05 {
    transform: scale(0.7) rotate(-20deg);
    margin: 0 0 34% 8%;
  }

  .error-v06 {
    transform: scale(0.7) rotate(1deg);
    margin: 0 0 6% -50%;
  }

  .error-v07 {
    transform: scale(1);
    margin: 0 0 4% -30%;
  }
}
