:root {
  --base-01: #faf4e5;
  --base-02: #ede7d9;
  --base-03: #ccc8bd;
  --base-04: #8a8984;
  --base-05: #1b1b1b;
  --text: #1b1b1b;
  --green: #808f55;
  --l-green: #9fb166;
  --blue: #8aa4c9;
  --l-blue: #bbceed;
  --pink: #e19dc4;
  --l-pink: #f6bdde;
  --yellow: #e9cb4f;
  --l-yellow: #f7da72;
}
