.centralized {
  width: 100%;
  justify-content: center;
  text-align: center;
  gap: 0.5rem;
}

.resized-logo {
  height: 3.125rem;
}

/* layout desktop */

@media (min-width: 768px) {
  .resized-logo {
    height: 4.5rem;
  }

  .centralized {
    align-items: start;
    text-align: left;
    gap: 1rem;
  }
}
